# Object file
*.o

# Ada Library Information
*.ali

# Local Terraform cache
.terraform/

# Terraform state files
*.tfstate
*.tfstate.backup

# CLI configuration files
.terraform.lock.hcl
*.tfvars

# Crash logs
crash.log

